<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710535559049-995c657ign6ots8454ss7bhpnoqg82rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710535559049-995c657ign6ots8454ss7bhpnoqg82rr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>710535559049-9rv6um6nasarqqu0lo7khlkcapi1ejik.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCciAPa9FuC3gPUOQQ1EEsL8aAxqPWm9w4</string>
	<key>GCM_SENDER_ID</key>
	<string>710535559049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appbestsmile.shitsumon</string>
	<key>PROJECT_ID</key>
	<string>shitsumon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>shitsumon-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710535559049:ios:3dcc519d04aeaa0c079358</string>
	<key>DATABASE_URL</key>
	<string>https://shitsumon-app.firebaseio.com</string>
</dict>
</plist>